.App {
  /*align-self: center;*/
  justify-self: center;
  padding-top: 25vh;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

.title {
  text-align: center;
  padding-bottom: 30px;
}

.container {
  width: 300px;
  background-color: #eee;
  text-align: center;
  padding: 27px 18px;
  margin-bottom: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.metadata {
  width: 100%;
  padding: 27px 18px;
  margin-bottom: 27px;
}

h1 {
  margin: 0;
  padding-bottom: 18px;
}

h2 {

}

.info {
  max-width: 21ch;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #ddd;
  padding: 12px 24px;
  word-wrap: break-word;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

.info a {
  color: black;
}

p {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

input,
button {
  padding: 9px;
  font-size: 18px;
  margin-bottom: 9px;
}

input.full-width {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}

.sending-status {
  margin-bottom: 10px;
}
