* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;

  padding: 1em;

  background-color: #6851FF;
  color: #fff;
  text-shadow: 2px 0 #3e3197, -2px 0 #3e3197, 0 2px #3e3197, 0 -2px #3e3197,
             1px 1px #3e3197, -1px -1px #3e3197, 1px -1px #3e3197, -1px 1px #3e3197;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1em;
}

footer {
  display: flex;
  justify-content: space-around;

  padding: 1em;

  font-size: 1.5em;
  text-align: center;
  background-color: #6851FF;
}

a {
  color: #fff;
}

a:active {
  color: #00C988;
}

h1, h3, h4 {
  margin: 0;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  
  margin: auto;
  border-radius: 10px;
  padding: 27px 18px;

  background-color: #eee;
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.metadata {
  width: 90%;
  margin: auto;
  align-content: center;
  justify-content: center;
}

#react-json {
  width: 300px !important;
  margin: auto;
  border-radius: 10px;
  padding: 1em;

  background-color: #eee;
  word-break: break-all;
}

p {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

input,
button {
  padding: 9px;
  font-size: 18px;
}

input.full-width {
  display: block;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}

@media (max-width: 600px) {
  .metadata {
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

  .container {
    width: 100%;
  }
}